@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BerkshireSwash';
  src: url('./fonts/BerkshireSwash-Regular.woff2') format('woff2');
  size: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Regular.woff2') format('woff2');
  size: 400;
  font-display: swap;
}

@layer base {
  body {
    @apply overflow-hidden;
  }

  .marineTransition {
    @apply bg-gradient-to-b from-marine to-paleMarine;
  }
}
